@page "/hilangrusak"
@inject IJSRuntime JS

<div class="pb-3">
    <br />
    <h1>Form Berita Acara Kehilangan atau Kerusakan Produk</h1>
    <br />
    <p class="lead"> Silahkan Diisi Dengan Data Yang Sebenarnya</p>
    <br />
    <EditForm Model="model">
        <DataAnnotationsValidator />
        <HxFormValue Label="Cabang" Value="@cabang" />
        <div class="row">
            <div class="col-6">
                <div class="form-group mb-4">
                    <label>Tanggal Kerusakan/Hilang</label>
                    <div class="datepicker date input-group p-0 shadow-sm">
                        <input type="date" placeholder="Tanggal Rusak" class="form-control py-4 px-4" @bind-value="@tglrusak">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group mb-4">
                    <label>Tanggal Pengiriman</label>
                    <div class="datepicker date input-group p-0 shadow-sm">
                        <input type="date" placeholder="Tanggal Pengiriman" class="form-control py-4 px-4" @bind-value="@tglkirim">
                    </div>
                </div>
            </div>
        </div>
        <HxInputText Label="Nama Ekspedisi" @bind-Value="@namaekspedisi" Placeholder="ex: PT.Tri Sapta Jaya" />
        <HxInputText @bind-Value="@emailekspedisi" Label="Email Ekspedisi" InputMode="InputMode.Email" />
        <HxInputText @bind-Value="@nokendaraan" Label="No Polisi Kendaraan" />
        <HxInputText @bind-Value="@namasupir" Label="Nama Pengemudi" />
        <HxInputText @bind-Value="@nopengiriman" Label="No Pengiriman" Hint="SPK/Faktur/Shipment/Do/TT" />
        <HxInputText @bind-Value="@pengirimandari" Label="Pengiriman Dari" />
        <HxInputText @bind-Value="@pengirimanke" Label="Tujuan Pengiriman" />
        <HxInputText @bind-Value="@nodokument" Label="Nomer Dokumen Surat Jalan" Hint="AWB" />
        <HxInputNumber @bind-Value="@koli" Label="Jumlah Koli" />
        @*<HxSubmit Color="ThemeColor.Primary" OnValidClick="@()">
        <i class="bi bi-box-arrow-in-right"></i> Submit dan Lanjutkan Detail</HxSubmit>*@
    </EditForm>

@code {
    private string cabang = null;
    public string namaekspedisi { get; set; }
    public string emailekspedisi { get; set; }
    public string nokendaraan { get; set; }
    public string namasupir { get; set; }
    public string nopengiriman { get; set; }
    public string pengirimandari { get; set; }
    public string pengirimanke { get; set; }
    public string nodokument { get; set; }
    public int koli { get; set; }
    public DateTime tglrusak { get; set; } = DateTime.Today;
    public DateTime tglkirim { get; set; } = DateTime.Today;


    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationState;
        if (authState.User.Identity.IsAuthenticated)
        {
            cabang = authState.User.FindFirst("Cabang").Value;
        }
    }

    [Inject] protected IHxMessengerService Messenger { get; set; }
    private async void ErrorMessenger(string _title, string _message)
    {
        Messenger.Clear();
        Messenger.AddError(title: _title, message: _message);
        await Task.Delay(1000);
    }

    private async void WarningMessenger(string _title, string _message)
    {
        Messenger.Clear();
        Messenger.AddWarning(title: _title, message: _message);
        await Task.Delay(1000);
    }

    protected FormHilang model = new FormHilang();
    public class FormHilang
    {

    }
}
